<p>Amnesty is a right and permission system. This guide will explain the some of the more intricate parts of Amnesty and how other applications can communicate with Amnesty.</p>

<p>Amnesty have relations between students, roles, positions, and privileges. The system can be viewed from multiple angles, represented by the tabs above.<p>

<p><b>Privileges</b> are represented as simple text strings in Amnesty. A student can get a permission in different ways. Either by having the permission "cherry-picked", that is, assigned directly to the student or given by a role that the student are assigned to. <b>Students</b> are represented by their UGID, that is user global id. The same UGID that KTH and all of Datasektion's system use. <b>Positions</b> are automatically assigned from DFUNKT and have roles that are assigned to all students with positions in that system. So <b>roles</b> are an abstract consept used only in this system to link privileges to students.</p>

