<p><b>Remember to ALWAYS query Amnesty when doing ANYTHING that needs permission in another system. NEVER EVER cache any information from Amnesty as this can change at any moment. This is security 101, Principle of Complete Mediation.</b></p>

<p>Amnesty is a rights and permission system. This guide will explain the some of the more intricate parts of Amnesty and how other applications can communicate with Amnesty.</p>

<p>Amnesty have relations between students, roles, positions, and privileges. The system can be viewed from multiple angles, represented by the tabs above.<p>

<p><b>Privileges</b> are represented as simple text strings in Amnesty. A student can get permission in different ways. Either by having the permission "cherry-picked", that is, assigned directly to the student or given by a role that the student are assigned to. <b>Students</b> are represented by their UGID, that is user global id. The same that all of Datasektion's system use. <b>Positions</b> are automatically assigned from DFUNKT and have Amnesty roles that are assigned to all students with positions in that system. So <b>roles</b> are an abstract consept used only in this system to link privileges to students.</p>

<p>Just like the system can be viewed from different angles can you query the system from multiple directions. The preferred way to talk to Amnesty is on a student-privilege basis using the have_privilege url.</p>

<h2>Have_privilege</h2>
<p>Your application should not dabble in Amnesty details so this route is almost always the best way.</p>
<p>Do a http(s) GET query to <a href="/students/have_privilege/">/students/have_privilege</a> with a student and a privilege as get parameter. You will get back a 200 "X have Amnesty's permission to Y". If the student can't be found or does not have privileges a http error will be sent with a explaining message.</p>

<h3>Example</h3>
<code>
  <pre><a href="/students/have_privilege/?name=Andreas%20Linn&privilege=MetaTV"><%= "#{request.protocol}#{request.host_with_port}" %>/students/have_privilege/?name=Andreas%20Linn&privilege=MetaTV</a></pre>
</code>

<h3>Parameters</h3>
<p>As different applications have different ways to identify users we have included multiple ways to represent the student in the query.</p>
<table>
  <tr>
    <th>Parameter</th>
    <th></th>
  </tr>
  <tr>
    <td>name*</td>
    <td>Full name of the student</td>
  </tr>
  <tr>
    <td>ugid*</td>
    <td>Same id as all other UGIDs in Datasektionen's systems.</td>
  </tr>
  <tr>
    <td>id*</td>
    <td>Amnesty's internal id's</td>
  </tr>
  <tr>
    <td>privilege</td>
    <td>The name of the privilege.</td>
  </tr>
</table>

<p>* Only one of these should be included.</p>

<h3>Outcomes</h3>

<table>
  <tr>
    <th>Outcome</th>
    <th>HTTP status code</th>
    <th>Sample body</th>
  </tr>
  <tr>
    <td>OK</td>
    <td>200</td>
    <td>Andreas Linn have Amnesty's permission to MetaTV!</td>
  </tr>
  <tr>
    <td>User not found</td>
    <td>404</td>
    <td>Student Andreas Bla was not found.</td>
  </tr>
  <tr>
    <td>Privilege not found</td>
    <td>404</td>
    <td>Privilege Super ice cream eater was not found.</td>
  </tr>
  <tr>
    <td>Not permission</td>
    <td>550</td>
    <td>Andreas Linn does not have Amnesty's permission to Destory the world!</td>
  </tr>
</table>

<h2>Other queries</h2>
<p>There are more ways to query Amnesty for information. There is a REST-like json interface for students, privileges and roles. To access these, just append ".json" to the regular urls.</p>

<table>
  <tr>
    <th>Name</th>
    <th>Route</th>
    <th>Descriptions</th>
  </tr>
  <tr>
    <td>Students</td>
    <td><a href="/students.json">/students.json</a></td>
    <td>A list of all students and some data.</td>
  </tr>
  <tr>
    <td>Student</td>
    <td><a href="/students/0.json">/students/:id.json</a></td>
    <td>Details for a specific student.</td>
  </tr>
  <tr>
    <td>Roles</td>
    <td><a href="/roles.json">/roles.json</a></td>
    <td>A list of all students and some data.</td>
  </tr>
  <tr>
    <td>Role</td>
    <td><a href="/roles/0.json">/roles/:id.json</a></td>
    <td>Details for a specific role.</td>
  </tr>
  <tr>
    <td>Privileges</td>
    <td><a href="/privileges.json">/privileges.json</a></td>
    <td>A list of all privileges and some data.</td>
  </tr>
  <tr>
    <td>Privilege</td>
    <td><a href="/privileges/0.json">/privileges/:id.json</a></td>
    <td>Details for a specific privilege.</td>
  </tr>
</table>

