<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @position.name %>
</p>

<p>
	<strong>
		Privileges:
	</strong>
</p>
<p>
	<% @position.privileges.each do |privilege| %>
		<p>
			<%= privilege.name %>
		</p>
	<% end -%>
</p>
