<h1><%= title %></h1>
<table>
	<tr>
		<% things.first.attributes.keys.each do |key| %>
			<th><%= key %></th>
		<% end %>
	</tr>
	<% things.each do |thing| %>
		<tr>
			<% thing.attributes.values.each do |value| %>
				<td><%= value %></td>
			<% end %>
		</tr>
	<% end %>
</table>