<div class="page">
	<%= render 'shared/column', title: "Positions", things: @positions %>
	<%= render 'shared/column', title: "Students", things: @students %>
	<%= render 'shared/column', title: "Roles", things: @roles %>
	<%= render 'shared/column', title: "Privileges", things: @privileges %>
</div>