<div class="page">
	<%= render 'shared/column', title: "Positions", things: @positions, main: main == "position" || main == nil, url: "positions" %>
	<%= render 'shared/column', title: "Students", things: @students, main: main == "student" || main == nil, url: "students" %>
	<%= render 'shared/column', title: "Roles", things: @roles, main: main == "role" || main == nil, url: "roles" %>
	<%= render 'shared/column', title: "Privileges", things: @privileges, main: main == "privilege" || main == nil, url: "privileges" %>
</div>