/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


* {
    font-family: 'Arvo', serif !important /* Fucking scafold */;
}

body {
    margin: 0;
}

header > h1 {
    display: inline-block;
    background-color: rgb(18, 18, 18);
    padding: 1em;
    margin: 1em;
    color: white;
    font-size: 2em;
    vertical-align: top;
}

header > nav {
    display: inline-block;
    font-size: 40%;
}

header > nav > a {
    width: 20em;
    vertical-align: top;
    margin-left: 1em;
    padding-right: 1em;
    padding-left: 1em;
    display: inline-block;
}

header a {
    font-size: 1.5em;
    text-decoration: none;
    color: #666;
}

header a:hover {
    color: white;
}

header a.current {
    border-top: 0.5em solid #E2007F;
    margin-top: -0.4em;
    color: black;
}

header a.current:hover {
    color: white;
}

header a h2 {
    font-size: 2em;
}

.page {
    margin: 2em;
}

.page a {
    padding: 0.17em 0.3em 0.17em 0.3em;
    color: #666;
    text-decoration: none;
}

.page a:visited {
    color: #666;
}

.page a:hover {
    color: white;
}

.page td {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.page thead {
    text-align: center;
}

.page tbody > tr {
    background-color: rgb(252, 218, 6)
}

.page table {
    width: 100%;
}

.page table input {
    background-color: inherit;
    border: none;
    font-size: inherit;
    width: 100%;
    text-align: left;
    color: inherit;
    margin: 0;
    padding: 0;
}

.page table input[type="submit"] {
    color: #666;
    padding: 0.17em 0.3em 0.17em 0.3em;
    margin: 0;
}

.page table input[type="submit"]:hover {
    background-color: black;
    color: white;
}

.page table .nope {
    background-color: white;
}

.error {
    color: red;
}

.layoutlayout div {
    display: inline-block;
    margin: 2em;
}